.container {
  display: flex;
  margin-bottom: 10px;
}
.left-content {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
}
.right-content {
  width: 30%;
  display: flex;
}
.comment-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  padding: 10px 20px;
}
.right-content .top {
  align-self: flex-start;
}
.right-content .center {
  align-self: center;
}
.right-content .bottom {
  align-self: flex-end;
}

.control-buttons {
  text-align: right;
}